<html>
<head><title>Honesty page</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<%- include('navbar') %>
<div class="main">
<h1>Honesty page</h1>
<p>I declare that this assignment is my own work in accordance with
Seneca Academic Policy. No part of this assignment has been copied
manually or electronically from any other source (including web sites)
or distributed to other students. <br>
Name: Artem Gainetdinov <br>
Student ID: 158739193<br>
Date: 13.12.2022</p>
</div>
</body>
</html>