<html>
<title>Home Page</title>
<head>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<%- include('navbar') %>
<div class="main">
<h2>WAS500 Assignment5 Book Library</h2>
<p><a href="/honesty" style="color:darkred"> Click me</a> to access the honesty page.</p>
</div>
</body>
</html>