<div id="side-bar">
<ul>
<li><a href="/home">Home Page</a></li>
<li><a href="/booksList">Books</a></li>
<li><a href="/admin">Admin</a></li>
<li><a href="/addnewbook">Add New Book</a></li>
</ul>
</div>